.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  margin-bottom: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 27px;
}

@media (min-width: 910px) {
  .header {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}
